<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
</head>
<body>

<form>
    <label>Name<input placeholder="Event name"></label>
    <label>Questions<select>
        {% for q in questions %}
            <option value="{{q}}">{{q}}</option>
        {% endfor %}
    </select></label>
    <label>Description<input placeholder="Description"></label>
    <submit>
</form>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script>
    var Admin = (function($) {
        "use strict";

        var submitCreateEvent = function

        return {};
    })($);
</script>
</body>
