<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
</head>
<body>
    <h1>Questions</h1>
    {%for q in questions %}
        <a href="create_event/{{q}}">{{q}}</a>
    {% endfor %}

    <h1>Events</h1>
    {%for e in events %}
        {{e.questions}}:
            <a href="create_team/{{e.id}}/@@@">Create Team</a>
            <a href="start_event/{{e.id}}">Start Event</a>
            <a href="end_event/{{e.id}}">End Event</a>
        <h2>Teams</h2>
        {%for t in e.teams %}
            <a href="join_team/{{e.id}}/{{t.name}}">{{t.name}}</a>
            {%for m in t.members %}
                <p>{{m.user.email}}</p>
            {% endfor %}
        {% endfor %}
    {% endfor %}
</body>

